

.privatecomment {
background-color: #E4E7E8;
color: #FFFFFF;
}

.ui-datatable-odd {
     background: #eaeaea;
}

.privatecommentfont {
font-size: 10px;

}

.preformatted {
	white-space: pre-wrap;
}

.prewrap {
	white-space: pre-wrap;    
}

.ui-widget-content.prewrap {
	white-space: pre-wrap;    
}